services:
  ovenmediaengine:
    image: airensoft/ovenmediaengine:latest
    container_name: prostream-engine
    restart: always
    ports:
      - "1935:1935"       # RTMP In
      - "3333:3333"       # WebRTC HTTP
      - "3334:3334"       # WebRTC HTTPS (Secure)
      - "8081:8081"       # API
      - "9999:9999/udp"   # SRT
      - "10000-10010:10000-10010/udp" # ICE/Media

    environment:
      # OME needs to know your Public IP to put in the SDP handshake
      - OME_HOST_IP=104.6.177.38  
      - OME_LOG_LEVEL=info

    volumes:
      # CRITICAL: This loads your Server.xml and Certs into the container
      - ./origin_conf:/opt/ovenmediaengine/bin/origin_conf