<?xml version="1.0" encoding="UTF-8"?>
<Server version="8">
	<Name>OvenMediaEngine</Name>
	<Type>origin</Type>
	<IP>*</IP>
	<StunServer>stun.l.google.com:19302</StunServer>

	<Bind>
		<Providers>
			<RTMP>
				<Port>1935</Port>
			</RTMP>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
				</Signalling>
				<IceCandidates>
					<IceCandidate>*:10000/udp</IceCandidate>
				</IceCandidates>
			</WebRTC>
		</Providers>

		<Publishers>
			<WebRTC>
				<Signalling>
					<Port>3333</Port>
					<TLSPort>3334</TLSPort>
				</Signalling>
				<IceCandidates>
					<IceCandidate>${PublicIP}:10000-10010/udp</IceCandidate>
				</IceCandidates>
			</WebRTC>
		</Publishers>
	</Bind>

	<VirtualHosts>
		<VirtualHost>
			<Name>default</Name>
			
			<Host>
				<Names>
					<Name>*</Name>
				</Names>
				<TLS>
					<CertPath>/opt/ovenmediaengine/bin/origin_conf/server.crt</CertPath>
					<KeyPath>/opt/ovenmediaengine/bin/origin_conf/server.key</KeyPath>
				</TLS>
			</Host>

			<Applications>
				<Application>
					<Name>app</Name>
					<Type>live</Type>
					<OutputProfiles>
						<OutputProfile>
							<Name>bypass</Name>
							<OutputStreamName>${OriginStreamName}</OutputStreamName>
							<Encodes>
								<Audio>
									<Codec>opus</Codec>
									<Bitrate>96000</Bitrate>
									<Samplerate>48000</Samplerate>
									<Channel>2</Channel>
								</Audio>
								<Video>
									<Bypass>true</Bypass>
								</Video>
							</Encodes>
						</OutputProfile>
					</OutputProfiles>
					<Providers>
						<RTMP />
						<WebRTC />
					</Providers>
					<Publishers>
						<WebRTC />
					</Publishers>
				</Application>
			</Applications>
		</VirtualHost>
	</VirtualHosts>
</Server>
